body {
	background-color: #e6ecff;
	font-family: Arial, sans-serif;
	margin: 0 10% 0 10%;
	border: 1px solid #002699;
}

ul.menu {
	list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #80b3ff;
	font-size: 30px;
	width: 100%;
}

li.menu-item {
    float: left;
}

li.menu-item a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

li.menu-item a:hover {
	background-color: #005ce6;
}

.content {
	margin: 20px;
	font-size: 20px;
}

.task-content {
	background-color: #b3c6ff;
	margin: 20px;
	border: 3px solid #0000ff;
	padding: 5px;
}

.task-header {
	text-decoration: underline;
	text-align: left;
}

.code-area {
	margin: 0 0 10px 10px;
	width: 50%;
	border: 1px solid black;
	font-family: "Lucida Console", monospace;
	resize: vertical;
}

.table-func {
	text-align: center;
	margin: 0 0 10px 10px;
}

table, th, td {
	width: 30%;
	padding: 5px;
	border: 1px solid black;
	border-collapse: collapse;
}
